<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TO DO </title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="todomvc-common/base.css">
    <link rel="stylesheet" href="todomvc-app-css/index.css">

</head>
  <body>
    {{{body}}}
    <!-- Scripts here. Don't remove ↓ -->
    <script src="/todomvc-common/base.js"></script>


  </body>
</html>
